# Map product configurations
FAMILY_ID=3690
FAMILY_NAME="OpenHiking HU"
SERIES_NAME="OpenHiking HU"
MAPNAME=openhiking

# Input data
OSM_COUNTRY_LIST=hungary
SUPPLEMENTARY_DATA=
CONTOUR_LINES=contour-hungary-alos-10.o5m
BOUNDARY_POLYGON=hungary.poly
GENERATE_HIKING_SYMBOLS=yes
SYMBOLS_EXCLUDE="blue:blue::E4:yellow,hu:zut,hu:sgy"
PREFILTERING=no
ADD_RESIDENTIAL_NAMES=yes

# Elevation model
DEM_SOURCES=alos
HILL_SHADING=alos
CONTOUR_LINE_STEP=10

#Rendering
MAP_STYLE=hiking
GENERATE_SEA=no
BOUNDS_BASE=admin
USE_LOWERCASE=yes
TYP_BASE=ohm
GARMIN_MAP_ID=76161001
GARMIN_SEGMENT_ID=76161001
GMAPSUPP=yes
GMAPI=yes

#Packaging
ICON_FILE=OpenHiking.ico
LOGO_FILE=OpenHiking.bmp
LICENSE_FILE=license.txt
COPYRIGHT_FILE=copyright.txt
