# Map product configurations
FAMILY_ID=3695
FAMILY_NAME="OpenHiking Nordics"
SERIES_NAME="OpenHiking Nordics"
MAPNAME=openhiking

# Input data
OSM_COUNTRY_LIST=norway sweden
SUPPLEMENTARY_DATA=
#CONTOUR_LINES=contour-norway-south-alos-10.o5m
#BOUNDARY_POLYGON=norway-mid.poly
CONTOUR_LINES=contour-nordics-south-alos-10-v1.o5m
BOUNDARY_POLYGON=nordics-south-v1.poly
GENERATE_HIKING_SYMBOLS=yes
SYMBOLS_EXCLUDE="blue:blue::E4:yellow,hu:zut,hu:sgy"
PREFILTERING=no
ADD_RESIDENTIAL_NAMES=yes

# Elevation model
DEM_SOURCES=alos
HILL_SHADING=alos
CONTOUR_LINE_STEP=10

#Rendering
MAP_STYLE=hiking
MAP_REGION=nordic
GENERATE_SEA=yes
CODE_PAGE=1252
USE_LOWERCASE=yes
TYP_BASE=ohm
GARMIN_MAP_ID=76165001
GARMIN_SEGMENT_ID=76165001
GMAPSUPP=no
GMAPI=yes

#Packaging
ICON_FILE=OpenHiking.ico
LOGO_FILE=OpenHiking.bmp
LICENSE_FILE=license.txt
COPYRIGHT_FILE=copyright.txt
